@import "mixins";

$z-index-overflow: 10;
$z-index-foreground: 11;

.container {
  height: 100%;
  background: rgb(134, 255, 254);
  background: radial-gradient(circle, rgba(134, 255, 254, 1) 0%, rgba(28, 196, 255, 1) 88%);
  position: relative;

  .overflow {
    @include position(0, 0, unset);
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: $z-index-overflow;
  }

  .lives {
    font-size: 43px;
    @include position(0px, unset, 10px);
    z-index: $z-index-foreground;
  }

  .alphabet app-button {
    font-size: 52px;
    min-width: 43px;
    width: 90px;
    height: 90px;

  }

  .password {
    display: flex;
    @include position(10%, 50%, unset, -50%);

    .password-letter {
      font-size: 50px;
      padding: 0 5px;
      min-width: 50px;
    }
  }


  .alphabet {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
    @include position(30%, 50%, unset, -50%);
  }

  .next-round-btn app-button {
    font-size: 30px;
    height: 70px;
    width: 420px;
    @include position(unset, unset, 50px);
    bottom: 40px;
    z-index: $z-index-foreground;
  }
}
